<div id="content">

<!-- TYPOGRAPHY -->
	<h1>Typography</h1>
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 5</h6>
		</div>
    <div class="col-sm-6">
      <h3>Example Text</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel dapibus leo, ut fermentum diam. Proin id lacinia diam, quis convallis metus. Sed sem tellus, mattis ac purus sit amet, egestas facilisis purus. Cras ligula orci, consectetur in rutrum id, condimentum et nibh. Maecenas ac porta sapien. Ut dapibus non nulla ac elementum. Nunc eget semper lectus. Pellentesque a quam luctus, ultricies erat at, adipiscing enim. Suspendisse potenti. Integer ac ultricies mauris. Duis dolor dui, feugiat sit amet molestie vel, blandit ac sem. Nullam egestas ipsum ut molestie bibendum. Pellentesque orci leo, tempor eget mattis non, ultricies ut magna.</p>
    </div>
	</div>

<!-- TABLES -->
	<h1>Tables</h1>	
	<hr>
  <table id="myTable" class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody><tr role="row" class="odd"><td class="sorting_1">Airi Satou</td><td>Accountant</td><td>Tokyo</td><td>5407</td><td>2008/11/28</td><td>$162,700</td></tr><tr role="row" class="even"><td class="sorting_1">Angelica Ramos</td><td>Chief Executive Officer (CEO)</td><td>London</td><td>5797</td><td>2009/10/09</td><td>$1,200,000</td></tr><tr role="row" class="odd"><td class="sorting_1">Ashton Cox</td><td>Junior Technical Author</td><td>San Francisco</td><td>1562</td><td>2009/01/12</td><td>$86,000</td></tr><tr role="row" class="even"><td class="sorting_1">Bradley Greer</td><td>Software Engineer</td><td>London</td><td>2558</td><td>2012/10/13</td><td>$132,000</td></tr><tr role="row" class="odd"><td class="sorting_1">Brenden Wagner</td><td>Software Engineer</td><td>San Francisco</td><td>1314</td><td>2011/06/07</td><td>$206,850</td></tr><tr role="row" class="even"><td class="sorting_1">Brielle Williamson</td><td>Integration Specialist</td><td>New York</td><td>4804</td><td>2012/12/02</td><td>$372,000</td></tr><tr role="row" class="odd"><td class="sorting_1">Bruno Nash</td><td>Software Engineer</td><td>London</td><td>6222</td><td>2011/05/03</td><td>$163,500</td></tr><tr role="row" class="even"><td class="sorting_1">Caesar Vance</td><td>Pre-Sales Support</td><td>New York</td><td>8330</td><td>2011/12/12</td><td>$106,450</td></tr><tr role="row" class="odd"><td class="sorting_1">Cara Stevens</td><td>Sales Assistant</td><td>New York</td><td>3990</td><td>2011/12/06</td><td>$145,600</td></tr><tr role="row" class="even"><td class="sorting_1">Cedric Kelly</td><td>Senior Javascript Developer</td><td>Edinburgh</td><td>6224</td><td>2012/03/29</td><td>$433,060</td></tr></tbody>
  </table>

</div> <!-- body col -->
