<form id="menu-form">
  <div class="panel-group" id="accordion">

    <!-- body panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#bodypanel">Body</a>
        </h3>
      </div>
      <div id="bodypanel" class="panel-collapse collapse">
        <div class="panel-body">

          <!-- Body Form Inputs -->
           <div class="form-group">
            <label>Background</label>
            <input id="bg-color" type="color" value="#ffffff">
            <input type="text" placeholder="#hexvalue">
          </div>
          <div class="form-group">
            <label>Font Family</label>
            <input id="fontFamliy" type="input">
            <select id="googlefonts">
              <option value="googlefonts">google fonts</option>
            </select>
          </div>
          <div class="form-group">
            <label>Font Size</label>
            <input id="fontSize" type="input">
          </div>
          <div class="form-group">
            <label>Font Color</label>
            <input type="color">
            <input type="type" placeholder="#hexvalue">
          </div>

        </div> <!-- panel body -->
      </div>
    </div>

    <!-- navigation panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#navpanel">Navigation</a>
        </h3>
      </div>
      <div id="navpanel" class="panel-collapse collapse">
        <div class="panel-body">

          <!-- Navigation Inputs -->
          <div class="form-group">
            <label>Navbar Color</label>
            <input type="color">
            <input type="text" placeholder="#hexvalue">
          </div>
          <div class="form-group">
            <label>Navbar Font</label>
            <input type="text" placeholder="font family">
            <select id="googlefonts">
              <option value="googlefonts">google fonts</option>
            </select>
          </div>
          <div class="form-group">
            <label>Navbar Font Size</label>
            <input type="text" placeholder="font size">
          </div>

        </div>
      </div>
    </div>


    <!-- table panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#tablepanel">Table</a>
        </h3>
      </div>
      <div id="tablepanel" class="panel-collapse collapse">
        <div class="panel-body">

          <!-- Table Inputs -->

        </div>
      </div>
    </div>


  </div><!-- panel group -->

  <button class="btn btn-default" >Generate CSS</button>

</form>